* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #04006C;
    --secondary: #015CFE;
    --tertiary: #00E0FF;
    --grey2: #555555;
    --grey3: #888888;
    --grey4: #AAAAAA;
}

.bgPrimaryContainer {
    height: 450px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.messagesContainer {
    width: 1200px;
    background-color: white;
    min-height: 80vh;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.perMessgaeContainer {
    outline: 1px solid var(--grey4);
    padding: 10px;

    display: flex;
    gap: 10px;
    margin: 8px 0;
}

.perMessgaeContainerMod {
    outline: 1px solid var(--grey4);
    padding: 10px;

    display: flex;
    gap: 10px;
    margin: 8px 0;
    background-color: #EDECF4;
}

.paginatorContainer {
    display: flex;
    gap: 8px;
    width: fit-content;
    margin: 20px auto;
}

.paginatorBox {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}